<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Arman Coding Sign Up</title>
    <link rel="stylesheet" href="/public/port.css">
        <link rel="stylesheet" href="/public/register.css">
        <link rel="stylesheet" href="/public/IMAGE READER/fontawesome-free-5.15.2-web/css/all.css">
        <script src="./IMAGE READER/fontawesome-free-5.15.2-web/js/all.js"></script>
</head>
<body>
    {{{body}}}
</body>
<script src="/public/port.js"></script>
</html>